.about {
    display: inline-block;
    background-color: $blue-dark;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-about.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        box-shadow: 0 0 30px 10px rgba(#000, 0.08);
        &::before {
            content: '';
            background-color: rgba(#000000, 0.5);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-about-blur.png");
            width: 154px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__illustration {
        width: 120%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 50px 60px 50px 60px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__img {
        display: inline-block;
        height: 100%;
        width: auto;
        object-fit: contain;
        opacity: 0.5;
        vertical-align: top;
        position: absolute;
        top: 0;
        right: 0px;
        transform: translate(30%, 0);
    }
    &__cube {
        display: inline-block;
        width: 154.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 0;
        left: 14.827%;
        transform: translate(-50%, 0);
        z-index: $z10;
    }
    &__sphere {
        display: inline-block;
        width: 96.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 21.008%;
        transform: translate(50%, 0);
        z-index: $z10;
    }
    &__header {
        text-align: right;
        padding: 7px 0 2px 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__main {
        width: 100%;
        position: relative;
        top: 52.29068%;
        left: 0;
        transform: translate(0, -50%);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.35;
        text-transform: uppercase;
        padding: 0px 0;
        margin: 0 0 5px 0;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.14px;
        line-height: 1.4;
        margin: 0 0 5px 0;
        position: relative;
        z-index: $z100;
    }
    &__footer {
        width: 100%;
        padding: 5px 0;
    }
    &__action {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $orange;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.22px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 16px 34px;
        min-width: 200px;
        min-height: 50px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: $orange;
                color: $white;
            }
        }
    }

    .resize & {
        &__background,
        &__decoration,
        &__illustration,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-about@2x.png");
            &::after {
                background-image: url("../img/background-about-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__title {
            max-width: 80%;
        }
        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 17;
            max-width: 100%;
        }
        &__action {
            padding: 16px 24px;
        }
    }

    @include mobile-md {
        &__title {
            max-width: 50%;
        }
        &__description {
            max-width: 50%;
        }
        &__action {
            padding: 20px 43px;
        }
    }

    @include mobile-lg {
        &__title {
            max-width: 100%;
        }
        &__description {
            max-width: 100%;
        }
    }

    @include tablet {
        &__content {
            padding: 50px 100px 50px 100px;
        }
        &__cube {
            width: 309px;
        }
        &__sphere {
            width: 193px;
        }
        &__title {
            font-size: 24px;
            padding: 5px 0;
            max-width: 100%;
        }
        &__description {
            font-size: 12px;
            max-width: 100%;
        }
        &__footer {
            padding: 10px 0;
        }
        &__action {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__content {
            padding-left: 180px;
            padding-right: 180px;
        }
        &__header {
            padding: 20px 0 2px 0;
        }
        &__title {
            font-size: 35px;
            max-width: 400px;
        }
        &__description {
            font-size: 15px;
            max-width: 400px;
        }
        &__footer {
            padding: 30px 0;
        }
        &__action {
            font-size: 18px;
            min-width: 260px;
            min-height: 60px;
        }
    }

    @include desktop {
        &__content {
            padding-left: 190px;
            padding-right: 190px;
        }
        &__img {
            object-fit: cover;
            width: 100%;
            transform: translate(0, 0);
        }
        &__title {
            font-size: 50px;
            max-width: 500px;
            pointer-events: auto;
        }
        &__description {
            font-size: 17px;
            max-width: 500px;
            pointer-events: auto;
        }
        &__action {
            font-size: 21px;
            min-height: 69px;
        }
    }

    @include desktop-lg {
        &__header {
            padding: 52px 0 2px 0;
        }
        &__title {
            max-width: 550px;
        }
        &__description {
            max-width: 552px;
        }
    }
}
