.arrow-prev, .arrow-next {
    display: inline-block;
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    outline: none;
    margin: 5px 0 0 0;
    padding: 0 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
    pointer-events: auto;
    touch-action: manipulation;
    z-index: $z250;
    &::after {
        content: '';
        display: inline-block;
        border: 4px solid $white;
        border-width: 4px 4px 0 0;
        padding: 0 0;
        margin: 0 0;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center center;
    }
}

.arrow-prev {
    left: 10px;
    right: auto;
    &::after {
        transform: translate(18px, 9px) rotate(-135deg);
    }
}
.arrow-next {
    right: 10px;
    left: auto;
    &::after {
        transform: translate(4px, 9px) rotate(45deg);
    }
}

@include tablet {
    .arrow-prev {
        left: 30px;
    }
    .arrow-next {
        right: 30px;
    }
}

@include tablet-lg {
    .arrow-prev {
        left: 90px;
    }
    .arrow-next {
        right: 90px;
    }
}
