.benefits {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-benefits.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        box-shadow: 0 0 30px 10px rgba(#000, 0.1);
        &::before {
            content: '';
            background-color: rgba(#000000, 0.1);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-benefits-blur.png");
            width: 154px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 50px 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__icons {
        padding: 50px 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__waves {
        display: inline-block;
        width: 926px;
        max-width: 150%;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 0);
        z-index: $z10;
    }
    &__list {
        list-style-type: none;
        margin: 0 0;
        padding: 20px 10px 20px 10px;
        width: 100%;
        text-align: center;
        font-size: 0;
        position: relative;
        top: 34.7552%;
        left: 0;
        &--icons {
            transform: translate(0, -40%);
        }
        &--text {
            transform: translate(0, 110px);
        }
    }
    &__card {
        display: inline-block;
        margin: 0 0;
        padding: 25px 10px;
        width: 33.333%;
        font-size: 20px;
        vertical-align: top;
    }
    &__img {
        display: inline-block;
        height: 75px;
        max-width: 100%;
        object-fit: contain;
        vertical-align: top;
    }
    &__header {
        text-align: right;
        padding: 7px 0 2px 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__title {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.15px;
        line-height: 1.36;
        margin: 0 auto 10px auto;
        padding: 2px 0;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.15px;
        line-height: 1.36;
        margin: 0 auto;
        position: relative;
        z-index: $z100;
    }

    .resize & {
        &__background,
        &__decoration,
        &__content,
        &__icons {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-benefits@2x.png");
            &::after {
                background-image: url("../img/background-benefits-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__content {
            padding: 0 0;
        }
        &__icons {
            padding: 0 0;
        }
        &__list {
            top: 26%;
            &--icons {
                transform: translate(0, -45%);
            }
            &--text {
                transform: translate(0, 80px);
            }
        }
        &__prev, &__next {
            top: 40%;
        }
    }

    @include mobile-lg {
        &__list {
            &--icons {
                transform: translate(0, -80%);
            }
            &--text {
                transform: translate(0, -10%);
            }
        }
        &__card {
            width: 30%;
        }
    }

    @include tablet {
        &__content {
            padding-left: 60px;
            padding-right: 60px;
        }
        &__icons {
            padding-left: 60px;
            padding-right: 60px;
        }
        &__list {
            padding-left: 20px;
            padding-right: 20px;
            &--icons {
                transform: translate(0, -60%);
            }
            &--text {
                transform: translate(0, 20px);
            }
        }
        &__card {
            width: 33.333%;
        }
        &__img {
            height: 150px;
        }
        &__title {
            font-size: 15px;
        }
        &__description {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__list {
            padding-left: 100px;
            padding-right: 75px;
            &--icons {
                transform: translate(0, -50%);
            }
            &--text {
                transform: translate(0, 80px);
            }
        }
        &__card {
            padding-left: 30px;
            padding-right: 30px;
        }
        &__header {
            padding: 20px 0 2px 0;
        }
        &__title {
            font-size: 18px;
        }
        &__description {
            font-size: 18px;
        }
        &__next {
            right: 60px;
        }
    }

    @include desktop {
        &__list {
            padding-left: 130px;
            padding-right: 100px;
        }
        &__title {
            font-size: 20px;
            max-width: 360px;
            pointer-events: auto;
        }
        &__description {
            font-size: 20px;
            max-width: 320px;
            pointer-events: auto;
        }
    }

    @include desktop-lg {
        &__header {
            padding: 52px 0 2px 0;
        }
    }
}
