.contact {
    display: inline-block;
    background-color: $blue-dark;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-contact.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        box-shadow: 0 0 30px 10px rgba(#000, 0.08);
        &::before {
            content: '';
            background-color: rgba(#000000, 0.6);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-contact-blur.png");
            width: 154px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__illustration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 25px 13px 5px 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__header {
        margin: 0 0;
        padding: 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__logo {
        display: inline-block;
        width: 83px;
        object-fit: contain;
        vertical-align: top;
        position: relative;
        z-index: $z10;
    }
    &__shadow {
        display: inline-block;
        width: 108px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 49.59072%;
        right: 20.07%;
        transform: translate(70%, -50%);
        z-index: $z10;
    }
    &__waves {
        display: inline-block;
        width: 629px;
        max-width: 75%;
        max-height: 126%;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: $z20;
    }
    &__img {
        display: inline-block;
        width: 191px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 50%;
        right: 31.9111%;
        transform: translate(70%, -50%);
        z-index: $z30;
    }
    &__main {
        width: 100%;
        padding: 10px 30px 0 30px;
        position: relative;
        top: 30%;
        left: 0;
        transform: translate(0, -50%);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.35;
        text-transform: uppercase;
        padding: 0px 0;
        margin: 0 0 5px 0;
        max-width: 80%;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 1.52;
        margin: 0 0 5px 0;
        max-width: 80%;
        position: relative;
        z-index: $z100;
    }
    &__list {
        list-style-type: none;
        margin: 0 0 5px 0;
        padding: 0px 0;
    }
    &__item {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.55;
        margin: 0 0;
        padding: 0 0;
        position: relative;
        z-index: $z100;
    }
    &__name {
        font-weight: 700;
        margin-right: 20px;
    }
    &__value {
        color: $white;
        text-decoration: none;
        outline: none;
        position: relative;
        pointer-events: auto;
        z-index: $z150;
        &:hover, &:focus, &:active {
            color: $white;
            text-decoration: none;
            outline: none;
        }
    }
    &__footer {
        width: 100%;
        padding: 5px 0;
    }
    &__action {
        display: inline-block;
        background-color: $orange;
        border: 2px solid $orange;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.15px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 16px 34px;
        min-width: 200px;
        min-height: 50px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: $orange;
            border-color: $orange;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: $orange;
            border-color: $orange;
            color: $white;
            cursor: default;
            &:hover {
                background-color: $orange;
                border-color: $orange;
                color: $white;
            }
        }
    }

    .resize & {
        &__background,
        &__decoration,
        &__illustration,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-contact@2x.png");
            &::after {
                background-image: url("../img/background-contact-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__title {
            max-width: 70%;
        }
        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 10;
            max-width: 70%;
        }
        &__action {
            padding: 16px 24px;
        }
    }

    @include mobile-md {
        &__shadow {
            width: 216px;
            transform: translate(50%, -50%);
        }
        &__img {
            width: 382.5px;
            transform: translate(50%, -50%);
        }
        &__title {
            max-width: 50%;
        }
        &__description {
            max-width: 50%;
        }
        &__action {
            padding: 22px 43px;
        }
    }

    @include mobile-lg {
        &__header {
            flex-direction: row;
            justify-content: space-between;
        }
        &__main {
            top: 35%;
        }
        &__title {
            max-width: 80%;
        }
        &__description {
            max-width: 80%;
        }
    }

    @include tablet {
        &__content {
            padding: 50px 30px 50px 60px;
        }
        &__main {
            padding: 20px 40px 10px 40px;
            top: 45.02370%;
        }
        &__title {
            font-size: 24px;
            padding: 4px 0;
            max-width: 70%;
        }
        &__description {
            font-size: 14px;
            max-width: 70%;
        }
        &__list {
            margin: 0 0 10px 0;
            padding: 10px 0;
        }
        &__item {
            font-size: 15px;
        }
        &__footer {
            padding: 10px 0;
        }
        &__action {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__shadow {
            width: 432px;
        }
        &__img {
            width: 765px;
        }
        &__main {
            padding: 20px 120px 20px 120px;
        }
        &__logo {
            width: 166px;
        }
        &__title {
            font-size: 35px;
            max-width: 400px;
        }
        &__description {
            font-size: 17px;
            max-width: 400px;
        }
        &__item {
            font-size: 18px;
        }
        &__footer {
            padding: 13px 0;
        }
        &__action {
            font-size: 18px;
            min-width: 260px;
            min-height: 60px;
        }
    }

    @include desktop {
        &__main {
            padding-right: 180px;
            padding-left: 180px;
        }
        &__title {
            font-size: 50px;
            pointer-events: auto;
        }
        &__description {
            font-size: 19px;
            pointer-events: auto;
        }
        &__item {
            font-size: 21px;
            pointer-events: auto;
        }
        &__action {
            font-size: 20px;
            min-height: 69px;
        }
    }

    @include desktop-lg {
        &__title {
            max-width: 550px;
        }
        &__description {
            max-width: 550px;
        }
    }
}
