/* Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Thin.eot');
    src: local('Raleway-Thin'),
        url('../fonts/Raleway-Thin/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin/Raleway-Thin.ttf') format('truetype'),
        url('../fonts/Raleway-Thin/Raleway-Thin.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ThinItalic.eot');
    src: local('Raleway-ThinItalic'),
        url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.woff') format('woff'),
        url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ThinItalic/Raleway-ThinItalic.svg#ralewaythin_italic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraLight.eot');
    src: local('Raleway-ExtraLight'),
        url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLight/Raleway-ExtraLight.svg#ralewayextralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraLightItalic.eot');
    src: local('Raleway-ExtraLightItalic'),
        url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.svg#ralewayextralight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.eot');
    src: local('Raleway-Light'),
        url('../fonts/Raleway-Light/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light/Raleway-Light.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-LightItalic.eot');
    src: local('Raleway-LightItalic'),
        url('../fonts/Raleway-LightItalic/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic/Raleway-LightItalic.svg#ralewaylight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: local('Raleway-Regular'),
        url('../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular/Raleway-Regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Italic.eot');
    src: local('Raleway-Italic'),
        url('../fonts/Raleway-Italic/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Italic/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/Raleway-Italic/Raleway-Italic.woff') format('woff'),
        url('../fonts/Raleway-Italic/Raleway-Italic.ttf') format('truetype'),
        url('../fonts/Raleway-Italic/Raleway-Italic.svg#ralewayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: local('Raleway-Medium'),
        url('../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium/Raleway-Medium.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-MediumItalic.eot');
    src: local('Raleway-MediumItalic'),
        url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic/Raleway-MediumItalic.svg#ralewaymedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-SemiBold.eot');
    src: local('Raleway-SemiBold'),
        url('../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold/Raleway-SemiBold.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-SemiBoldItalic.eot');
    src: local('Raleway-SemiBoldItalic'),
        url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.svg#ralewaysemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.eot');
    src: local('Raleway-Bold'),
        url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold/Raleway-Bold.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-BoldItalic.eot');
    src: local('Raleway-BoldItalic'),
        url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.woff') format('woff'),
        url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BoldItalic/Raleway-BoldItalic.svg#ralewaybold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBold.eot');
    src: local('Raleway-ExtraBold'),
        url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBoldItalic.eot');
    src: local('Raleway-ExtraBoldItalic'),
        url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.svg#ralewayextrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Black.eot');
    src: local('Raleway-Black'),
        url('../fonts/Raleway-Black/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Black/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway-Black/Raleway-Black.ttf') format('truetype'),
        url('../fonts/Raleway-Black/Raleway-Black.svg#ralewayblack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-BlackItalic.eot');
    src: local('Raleway-BlackItalic'),
        url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.woff') format('woff'),
        url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BlackItalic/Raleway-BlackItalic.svg#ralewayblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
