.home {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__header {
        padding: 25px 13px 25px 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 200px 60px 20px 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__waves {
        display: inline-block;
        width: 926px;
        max-width: 150%;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 0);
        z-index: $z10;
    }
    &__logo {
        display: inline-block;
        width: 83px;
        object-fit: contain;
        vertical-align: top;
    }
    &__main {
        width: 100%;
        position: relative;
        top: 47.5%;
        left: 0;
        transform: translate(0, -60%);
    }
    &__shadow {
        display: inline-block;
        width: 368px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 35%;
        right: 0;
        transform: translate(50%, -50%);
        z-index: $z10;
    }
    &__frame {
        display: inline-block;
        font-size: 0;
        width: 356px;
        vertical-align: top;
        position: absolute;
        top: 46%;
        right: 0;
        transform: translate(90%, -60%);
        z-index: $z150;
    }
    &__img {
        display: inline-block;
        width: 100%;
        object-fit: contain;
        vertical-align: top;
    }
    &__poster {
        display: inline-block;
        cursor: pointer;
        object-fit: contain;
        width: 75.1404494%;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        vertical-align: top;
        outline: none;
        pointer-events: auto;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: $z150;
    }
    &__player {
        display: inline-block;
        cursor: pointer;
        padding: 56.25% 0 0 0;
        width: 75.1404494%;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translate(-50%, -33px);
        vertical-align: top;
        outline: none;
        pointer-events: auto;
        opacity: 0;
        z-index: -1;
        &:focus {
            outline: none;
        }
        &.ready {
            opacity: 1;
            pointer-events: auto;
            z-index: $z200;
        }
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__play {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 300px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0;
        line-height: 0;
        text-decoration: none;
        text-transform: none;
        outline: none;
        margin: 5px 0 0 0;
        padding: 0 0;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z250;
    }
    &__triangle {
        background-color: $white;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: $z100;
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        &,
        &::before,
        &::after {
            width:  15px;
            height: 15px;
            border-top-right-radius: 30%;
        }
        transform: translate(-25%, -50%) rotate(30deg) skewX(-30deg) scale(1,.866);
        &:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        &:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
    }
    &__player.ready + &__poster {
        opacity: 0;
    }
    &__player.ready ~ &__play {
        display: none;
        opacity: 0;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.3;
        text-transform: uppercase;
        padding: 0 0;
        margin: 0 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.25px;
        margin: 0 0 5px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__footer {
        padding: 18px 0;
        width: 100%;
    }
    &__action {
        display: inline-block;
        background-color: $blue-dark;
        border: 2px solid $blue-dark;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: -0.15px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        padding: 17px 34px;
        min-width: 40px;
        min-height: 20px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: $blue-dark;
            border-color: $blue-dark;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: $blue-dark;
            border-color: $blue-dark;
            color: $white;
            cursor: default;
            &:hover {
                background-color: $blue-dark;
                border-color: $blue-dark;
                color: $white;
            }
        }
    }

    .resize & {
        &__background,
        &__decoration,
        &__header,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background@2x.png");
        }
    }

    @include mobile-sm {
        &__action {
            padding: 16px 24px;
        }
    }

    @include mobile-md {
        &__shadow {
            transform: translate(50%, -50%);
        }
        &__frame {
            transform: translate(60%, -50%);
        }
        &__title {
            max-width: 50%;
        }
        &__description {
            max-width: 50%;
        }
        &__action {
            padding: 22px 43px;
        }
    }

    @include mobile-lg {
        &__header {
            flex-direction: row;
            justify-content: space-between;
        }
        &__main {
            transform: translate(0, -74%);
        }
        &__shadow {
            transform: translate(50%, -50%);
        }
        &__frame {
            transform: translate(70%, -50%);
        }
        &__title {
            max-width: 70%;
        }
        &__description {
            max-width: 70%;
        }
        &__footer {
            padding: 3px 0;
        }
    }

    @include tablet {
        &__header {
            padding: 50px 60px;
        }
        &__content {
            padding: 145px 100px 50px 60px;
        }
        &__main {
            transform: translate(0, -50%);
        }
        &__shadow {
            transform: translate(20%, -50%);
        }
        &__frame {
            transform: translate(30%, -50%);
        }
        &__title {
            font-size: 24px;
            padding: 5px 0;
            max-width: 60%;
        }
        &__description {
            font-size: 15px;
            max-width: 60%;
        }
        &__footer {
            padding: 6px 0;
        }
        &__action {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__content {
            padding: 170px 160px 50px 116px;
        }
        &__logo {
            width: 166px;
        }
        &__shadow {
            transform: translate(-3.5%, -50%);
        }
        &__frame {
            transform: translate(2.5%, -50%);
        }
        &__title {
            font-size: 35px;
            padding: 5px 0;
            max-width: 50%;
        }
        &__description {
            font-size: 18px;
            max-width: 50%;
        }
        &__action {
            font-size: 18px;
        }
        &__footer {
            padding: 24px 0;
        }
    }

    @include desktop {
        &__shadow {
            width: 736px;
        }
        &__frame {
            width: 712px;
        }
        &__poster {
            top: 30px;
        }
        &__player {
            top: 30px;
        }
        &__title {
            font-size: 42px;
            max-width: 38%;
            pointer-events: auto;
        }
        &__description {
            font-size: 18px;
            max-width: 38%;
            pointer-events: auto;
        }
        &__action {
            font-size: 21px;
        }
    }

    @include desktop-lg {}
}
