//
// Responsive design media queries
// -Mobile first principle-
//

$mobile-sm-width: 349px;
$mobile-md-width: 460px;
$mobile-lg-width: 560px;
$tablet-width: 768px;
$tablet-lg-width: 992px;
$desktop-width: 1200px;
$desktop-lg-width: 1400px;
$desktop-xl-width: 2048px;

@mixin retina {
  @media only screen and ( min-resolution: 120.0dpi ),
    only screen and ( min-resolution: 1.3dppx ) {
      @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{$mobile-sm-width}) {
    @content;
  }
}

@mixin mobile-md {
  @media (min-width: #{$mobile-md-width}) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: #{$mobile-lg-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (min-width: #{$tablet-lg-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-width}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop-xl-width}) {
    @content;
  }
}
