.nav {
    display: inline-block;
    margin: 0 0 0 -14px;
    padding: 12px 9px;
    vertical-align: top;
    &__list {
        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
    }
    &__item {
        display: inline-block;
        margin: 0 0;
        padding: 0 0;
        vertical-align: top;
    }
    &__link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: -0.08px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 8px 5px;
        min-width: 40px;
        min-height: 20px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z200;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border-color: transparent;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: transparent;
            border-color: transparent;
            color: $white;
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: transparent;
                color: $white;
            }
        }
        &--active, &.active {
            &::after {
                content: '';
                display: block;
                background-color: $orange;
                width: 100%;
                width: calc(100% - 10px);
                height: 2px;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translate(-50%, 0);
            }
        }
    }

    @include mobile-sm {
        padding: 12px 0px 12px 0px;
    }

    @include mobile-lg {
        padding: 0 0;
    }

    @include tablet {
        margin: 0 0;
        padding: 0 24px;
        &__link {
            font-size: 17px;
        }
    }

    @include tablet-lg {
        &__link {
            padding: 17px 14px;
            &--active, &.active {
                &::after {
                    width: 100%;
                    width: calc(100% - 30px);
                    bottom: 8px;
                }
            }
        }
    }
}
