.now {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-now.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        box-shadow: 0 0 30px 10px rgba(#000000, 0.07);
        &::before {
            content: '';
            background-color: rgba(#000000, 0.2);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-now-blur.png");
            width: 120px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__illustration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 50px 60px 50px 60px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__shadow {
        display: inline-block;
        width: 376px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 41.81446%;
        right: 0;
        transform: translate(50%, -50%);
        z-index: $z10;
    }
    &__points {
        display: inline-block;
        width: 102.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 34.31105%;
        right: 37.5995%;
        transform: translate(50%, -50%);
        z-index: $z10;
    }
    &__lines {
        display: inline-block;
        width: 263.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 27.53473%;
        transform: translate(50%, 0);
        z-index: $z10;
    }
    &__img {
        display: inline-block;
        width: 372.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        top: 49.52251%;
        right: 0;
        transform: translate(60%, -50%);
        z-index: $z50;
    }
    &__header {
        text-align: right;
        padding: 7px 0 2px 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__main {
        width: 100%;
        position: relative;
        top: 52.92259%;
        left: 0;
        transform: translate(0, -50%);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.35;
        text-transform: uppercase;
        padding: 5px 0;
        margin: 0 0 6px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__subtitle {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.28px;
        margin: 0 0 5px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.28px;
        line-height: 1.43;
        margin: 0 0 5px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__footer {
        width: 100%;
        padding: 28px 0;
    }
    &__action {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $orange;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.15px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 16px 34px;
        min-width: 200px;
        min-height: 50px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: $orange;
                color: $white;
            }
        }
    }

    .resize & {
        &__background,
        &__decoration,
        &__illustration,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-now@2x.png");
            &::after {
                background-image: url("../img/background-now-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
        }
        &__action {
            padding: 16px 24px;
        }
    }

    @include mobile-md {
        &__shadow {
            transform: translate(30%, -50%);
        }
        &__img {
            transform: translate(40%, -50%);
        }
        &__title {
            max-width: 50%;
        }
        &__subtitle {
            max-width: 50%;
        }
        &__description {
            max-width: 50%;
        }
        &__action {
            padding: 18px 43px;
        }
    }

    @include mobile-lg {
        &__content {
            padding-top: 30px;
        }
        &__shadow {
            transform: translate(50%, -50%);
        }
        &__img {
            transform: translate(70%, -50%);
        }
        &__title {
            max-width: 90%;
        }
        &__subtitle {
            max-width: 90%;
        }
        &__description {
            max-width: 90%;
        }
        &__footer {
            padding: 5px 0;
        }
    }

    @include tablet {
        &__content {
            padding: 50px 100px 50px 100px;
        }
        &__shadow {
            transform: translate(20%, -50%);
        }
        &__img {
            transform: translate(30%, -50%);
        }
        &__title {
            font-size: 24px;
            margin: 0 0 11px 0;
            max-width: 75%;
        }
        &__subtitle {
            font-size: 15px;
            max-width: 75%;
        }
        &__description {
            font-size: 15px;
            max-width: 75%;
        }
        &__footer {
            padding: 16px 0;
        }
        &__action {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__content {
            padding-left: 189px;
            padding-right: 189px;
        }
        &__shadow {
            transform: translate(-2.65957%, -50%);
        }
        &__img {
            transform: translate(8.99329%, -50%);
        }
        &__header {
            padding: 20px 0 2px 0;
        }
        &__title {
            font-size: 35px;
            max-width: 400px;
        }
        &__subtitle {
            font-size: 18px;
            max-width: 400px;
        }
        &__description {
            font-size: 18px;
            max-width: 400px;
        }
        &__footer {
            padding: 28px 0;
        }
        &__action {
            font-size: 18px;
            min-width: 260px;
            min-height: 60px;
        }
        &__next {
            right: 60px;
        }
    }

    @include desktop {
        &__shadow {
            width: 752px;
        }
        &__points {
            width: 205px;
            right: 45.03525%;
        }
        &__lines {
            width: 527px;
        }
        &__img {
            width: 745px;
        }
        &__title {
            font-size: 50px;
            pointer-events: auto;
        }
        &__subtitle {
            font-size: 21px;
            pointer-events: auto;
        }
        &__description {
            font-size: 21px;
            pointer-events: auto;
        }
        &__action {
            font-size: 21px;
            min-height: 69px;
        }
    }

    @include desktop-lg {
        &__header {
            padding: 52px 0 2px 0;
        }
        &__title {
            max-width: 575px;
        }
        &__subtitle {
            max-width: 575px;
        }
        &__description {
            max-width: 575px;
        }
    }
}
