.parallax {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scrollbar-color: #C3C3C3 transparent;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        width: 0px;
        height: 0px;
        background-color: #C3C3C3;
        border-radius: 1px;
        outline: none;
    }
    &__content {
        $pagescount: 7;

        font-size: 0;
        overflow: hidden;
        width: 100% * $pagescount;
        height: 100%;
        // height: 100vh;
        transition: all 0.5s ease-out;
        & > section {
            width: 100% / $pagescount;
        }
    }

    .resize & {
        &__content {
            transition: none;
        }
    }
}
