.services {
    display: inline-block;
    background-color: $blue-dark;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-services.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        box-shadow: 0 0 30px 10px rgba(#000, 0.15);
        &::before {
            content: '';
            background-color: rgba(#000000, 0.4);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-services-blur.png");
            width: 154px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__icons {
        padding: 50px 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 50px 30px 50px 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__grid {
        display: inline-block;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__header {
        text-align: right;
        padding: 7px 0 2px 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__main {
        width: 100%;
        position: relative;
        top: 41.5482%;
        left: 0;
        transform: translate(0, -100%);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.35;
        text-transform: uppercase;
        padding: 2px 0;
        margin: 0 auto 5px auto;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.22px;
        line-height: 1.4;
        margin: 0 auto 53px auto;
        position: relative;
        z-index: $z100;
    }
    &__list {
        list-style-type: none;
        margin: 0 0;
        padding: 20px 50px 20px 50px;
        width: 100%;
        text-align: center;
        font-size: 0;
        position: absolute;
        top: 38%;
        left: 0;
        z-index: $z10;
    }
    &__card {
        display: inline-block;
        margin: 0 0;
        padding: 25px 10px;
        width: 33.333%;
        font-size: 20px;
        vertical-align: top;
    }
    &__link {
        display: inline-block;
        background-color: transparent;
        text-decoration: none;
        outline: none;
        max-width: 100%;
        vertical-align: top;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: transparent;
            outline: none;
            text-decoration: none;
        }
    }
    &__img {
        display: inline-block;
        height: 75px;
        max-width: 100%;
        object-fit: contain;
        vertical-align: top;
        position: relative;
        z-index: $z20;
    }
    &__caption {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 1.36;
        margin: 80px auto 0 auto;
        position: relative;
        pointer-events: auto;
        z-index: $z30;
    }
    &__footer {
        display: block;
        width: 100%;
        text-align: center;
        padding: 25px 0px 25px 0px;
        position: absolute;
        top: 73%;
        left: 0;
    }
    &__action {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $orange;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.22px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 16px 34px;
        min-width: 200px;
        min-height: 50px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: $orange;
                color: $white;
            }
        }
    }

    &__prev {
        top: 55%;
    }
    &__next {
        top: 55%;
    }

    .resize & {
        &__background,
        &__decoration,
        &__icons,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-services@2x.png");
            &::after {
                background-image: url("../img/background-services-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
        }
        &__card {
            padding-right: 5px;
            padding-left: 5px;
        }
        &__action {
            padding: 16px 18px;
        }
    }

    @include mobile-md {
        &__action {
            padding: 18px 43px;
        }
    }

    @include mobile-lg {
        &__content {
            padding-top: 30px;
        }
        &__list {
            top: 25%;
        }
        &__footer {
            top: 70%;
        }
    }

    @include tablet {
        &__icons {
            padding: 50px 60px;
        }
        &__content {
            padding: 50px 60px 50px 60px;
        }
        &__title {
            font-size: 24px;
        }
        &__description {
            font-size: 15px;
        }
        &__list {
            padding: 20px 80px 20px 80px;
            top: 40%;
        }
        &__card {
            padding: 25px 30px;
        }
        &__caption {
            font-size: 15px;
        }
        &__footer {
            padding: 25px 20px 25px 20px;
            top: 75%;
        }
        &__action {
            font-size: 15px;
        }
        &__prev {
            top: 50%;
        }
        &__next {
            top: 50%;
        }
    }

    @include tablet-lg {
        &__icons {
            padding-left: 60px;
            padding-right: 60px;
        }
        &__content {
            padding-left: 60px;
            padding-right: 60px;
        }
        &__header {
            padding: 20px 0 2px 0;
        }
        &__title {
            font-size: 35px;
            max-width: 600px;
        }
        &__description {
            font-size: 18px;
            max-width: 600px;
        }
        &__list {
            padding: 20px 180px 20px 180px;
            top: 40.51842%;
        }
        &__img {
            height: 150px;
        }
        &__caption {
            font-size: 18px;
            margin-top: 158px;
        }
        &__footer {
            top: 75.03411%;
        }
        &__action {
            font-size: 18px;
            min-width: 260px;
            min-height: 60px;
        }
        &__prev {
            top: 55%;
        }
        &__next {
            top: 55%;
        }
    }

    @include desktop {
        &__title {
            font-size: 50px;
            pointer-events: auto;
        }
        &__description {
            font-size: 21px;
            pointer-events: auto;
        }
        &__caption {
            font-size: 25px;
            max-width: 350px;
        }
        &__footer {
            top: 82%;
        }
        &__action {
            font-size: 21px;
            min-height: 69px;
        }
    }

    @include desktop-lg {
        &__header {
            padding: 52px 0 2px 0;
        }
        &__title {
            max-width: 700px;
        }
        &__description {
            max-width: 800px;
        }
        &__footer {
            top: 75.03411%;
        }
    }
}
