// colors
$black: #000000;
$blue: #243A88;
$blue-dark: #002D6A;
$orange: #F0AA38;
$white: #FFFFFF;

//z-index
$z10: 10;
$z20: 20;
$z30: 30;
$z40: 40;
$z50: 50;
$z100: 100;
$z150: 150;
$z200: 200;
$z250: 250;

// shadow
$shadow: 0px 4px 11px rgba(#8F9194, 0.25);
