.you {
    display: inline-block;
    background-color: $blue-dark;
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    white-space: normal;
    overflow: visible;
    &__background {
        background: #1B4090 center / cover no-repeat;
        background-image: url("../img/background-you.png");
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.85s ease-out;
        &::before {
            content: '';
            background-color: rgba(#000000, 0.2);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            background: transparent center / cover no-repeat;
            background-image: url("../img/background-you-blur.png");
            width: 154px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 0);
        }
    }
    &__decoration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__illustration {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__content {
        padding: 50px 60px 50px 60px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.85s ease-out;
    }
    &__grid {
        display: inline-block;
        width: 100%;
        object-fit: cover;
        vertical-align: top;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__points {
        display: inline-block;
        width: 289.5px;
        object-fit: contain;
        vertical-align: top;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(35%, 0);
        z-index: $z10;
    }
    &__cycle {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 50.20464%;
        right: 0;
        transform: translate3d(50%, -50%, 0);
        z-index: $z50;
    }
    &__img {
        display: inline-block;
        width: 242px;
        object-fit: contain;
        transform-origin: center center;
        transition: all 0.85s ease-out;
        vertical-align: top;
    }
    &__header {
        text-align: right;
        padding: 7px 0 2px 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__main {
        width: 100%;
        position: relative;
        top: 54.50237%;
        left: 0;
        transform: translate(0, -50%);
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.16px;
        line-height: 1.35;
        text-transform: uppercase;
        padding: 5px 0;
        margin: 0 0 6px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__subtitle {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.28px;
        margin: 0 0 5px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__description {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.28px;
        line-height: 1.4;
        margin: 0 0 5px 0;
        max-width: 70%;
        position: relative;
        z-index: $z100;
    }
    &__footer {
        width: 100%;
        padding: 24px 0;
    }
    &__action {
        display: inline-block;
        background-color: transparent;
        border: 2px solid $orange;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.15px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        outline: none;
        padding: 16px 34px;
        min-width: 200px;
        min-height: 50px;
        vertical-align: top;
        white-space: nowrap;
        transition: all 0.22s ease-in-out;
        position: relative;
        pointer-events: auto;
        touch-action: manipulation;
        z-index: $z150;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            outline: none;
            text-decoration: none;
        }
        &[disabled],
        &.disabled {
            background-color: transparent;
            border-color: $orange;
            color: $white;
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: $orange;
                color: $white;
            }
        }
    }

    .resize & {
        &__background,
        &__decoration,
        &__illustration,
        &__content {
            transition: none;
        }
    }

    @include retina {
        &__background {
            background-image: url("../img/background-you@2x.png");
            &::after {
                background-image: url("../img/background-you-blur@2x.png");
            }
        }
    }

    @include mobile-sm {
        &__cycle {
            transform: translate(60%, -50%);
        }
        &__title {
            max-width: 80%;
        }
        &__subtitle {
            max-width: 80%;
        }
        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 19;
            max-width: 80%;
        }
        &__action {
            padding: 16px 24px;
        }
    }

    @include mobile-md {
        &__title {
            max-width: 50%;
        }
        &__subtitle {
            max-width: 50%;
        }
        &__description {
            max-width: 50%;
        }
        &__action {
            padding: 18px 43px;
        }
    }

    @include mobile-lg {
        &__title {
            max-width: 85%;
        }
        &__subtitle {
            max-width: 85%;
        }
        &__description {
            max-width: 85%;
        }
    }

    @include tablet {
        &__content {
            padding: 50px 100px 50px 100px;
        }
        &__points {
            width: 579px;
        }
        &__cycle {
            right: 10%;
        }
        &__title {
            font-size: 24px;
            margin: 0 0 11px 0;
            max-width: 80%;
        }
        &__subtitle {
            font-size: 16px;
            max-width: 80%;
        }
        &__description {
            font-size: 15px;
            max-width: 80%;
        }
        &__footer {
            padding: 18px 0;
        }
        &__action {
            font-size: 15px;
        }
    }

    @include tablet-lg {
        &__content {
            padding-left: 180px;
            padding-right: 180px;
        }
        &__cycle {
            right: 28.265%;
        }
        &__header {
            padding: 20px 0 2px 0;
        }
        &__title {
            font-size: 35px;
            max-width: 400px;
        }
        &__subtitle {
            font-size: 20px;
            max-width: 400px;
        }
        &__description {
            font-size: 18px;
            max-width: 400px;
        }
        &__footer {
            padding: 48px 0;
        }
        &__action {
            font-size: 18px;
            min-width: 260px;
            min-height: 60px;
        }
    }

    @include desktop {
        &__content {
            padding-left: 230px;
            padding-right: 230px;
        }
        &__img {
            width: 484px;
        }
        &__title {
            font-size: 50px;
            pointer-events: auto;
        }
        &__subtitle {
            font-size: 24px;
            pointer-events: auto;
        }
        &__description {
            font-size: 21px;
            pointer-events: auto;
        }
        &__action {
            font-size: 21px;
            min-height: 69px;
        }
        &__prev {
            left: 120px;
        }
        &__next {
            right: 70px;
        }
    }

    @include desktop-lg {
        &__header {
            padding: 52px 0 2px 0;
        }
        &__title {
            max-width: 540px;
        }
        &__subtitle {
            max-width: 540px;
        }
        &__description {
            max-width: 540px;
        }
    }
}
