doctype html
html(lang="en")
    head
        include partial/_head.pug
        link(rel="stylesheet" type="text/css" href= process.env.NODE_ENV === 'production' ? 'css/main.min.css' : 'css/main.css')
        link(rel="preload" href=process.env.NODE_ENV === 'production' ? 'js/main.min.js' : 'js/main.js' as="script")
    body
        .parallax#parallax-container
            .parallax__content#parallax-list
                include partial/_home.pug
                include partial/_benefits.pug
                include partial/_now.pug
                include partial/_you.pug
                include partial/_services.pug
                include partial/_about.pug
                include partial/_contact.pug
        script(src='https://player.vimeo.com/api/player.js')
        script(src= process.env.NODE_ENV === 'production' ? 'js/main.min.js' : 'js/main.js')
