section.about#about
    .about__background(data-rellax-speed="0")
        svg.about__blur(width="0" height="0")
            defs
                filter#about-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#02234B" opacity="0.95" filter="url(#about-blur-filter)")
    .about__decoration(data-rellax-speed="4")
        img.about__cube(src="img/cube.png" srcset="img/cube@2x.png 2x, img/cube.png 1x" alt="Cube" loading="lazy")
        img.about__sphere(src="img/sphere.png" srcset="img/sphere@2x.png 2x, img/sphere.png 1x" alt="Sphere" loading="lazy")
    .about__illustration(data-rellax-speed="7")
        img.about__img(src="img/phone.png" srcset="img/phone@2x.png 2x, img/phone.png 1x" alt="Phone" loading="lazy")
    .about__content(data-rellax-speed="10")
        button.arrow-prev.about__prev(type="button") Previous
        .about__header
            - var sectionName = 'about';
            include _nav.pug
        .about__main
            h2.about__title Why DOD INTERFACE?
            p.about__description DOD INTERFACE specializes in helping Certified 3rd Party Assessment Organizations (C3PAOs) promote their products and services to cyber/IT organizations seeking certification.
            p.about__description Since 2010, the founders of DOD INTERFACE have successfully marketed 3rd party partners that provide assessments and instruction in software and engineering performance improvement frameworks, including CMMI, ISO, and the Agile Performance Holarchy (APH), where competition can be intense.
            p.about__description Because CMMC was developed by the authors of CMMI, and because our team spent a decade marketing assessors of the Model upon which the CMMC was built, no other marketing agency can match our level of direct expertise. We get you.
            .about__footer
                a.about__action(href="https://dodinterface.agilecrm.com/calendar/rob_macdonald") Schedule A Call
        button.arrow-next.about__next(type="button") Next
