section.benefits#benefits
    .benefits__background(data-rellax-speed="0")
        svg.benefits__blur(width="0" height="0")
            defs
                filter#benefits-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#1B4090" opacity="0.95" filter="url(#benefits-blur-filter)")
    .benefits__decoration(data-rellax-speed="4")
        //- img.benefits__waves(src="img/waves.png" srcset="img/waves@2x.png 2x, img/waves.png 1x" alt="Waves" loading="lazy")
    .benefits__content(data-rellax-speed="7")
        button.arrow-prev.benefits__prev(type="button") Previous
        .benefits__header
            - var sectionName = 'benefits';
            include _nav.pug
        ul.benefits__list.benefits__list--text
            li.benefits__card
                .benefits__title Select the Clients You Want
                p.benefits__description Do business only with organizations that meet your ideal client profile
            li.benefits__card
                .benefits__title Fill Your Programs
                p.benefits__description Illuminate clients about how they benefit from your
                    br
                    | approach to CMMC
                    br
                    | certification
            li.benefits__card
                .benefits__title Lock-in Repeat Revenue
                p.benefits__description Assure your role in their recertification by staying 3 years ahead of clients’ needs
        button.arrow-next.benefits__next(type="button") Next
    .benefits__icons(data-rellax-speed="10")
        ul.benefits__list.benefits__list--icons
            li.benefits__card
                img.benefits__img(src="img/search.png" srcset="img/search@2x.png 2x, img/search.png 1x" alt="Search" loading="lazy")
            li.benefits__card
                img.benefits__img(src="img/bulb.png" srcset="img/bulb@2x.png 2x, img/bulb.png 1x" alt="Bulb" loading="lazy")
            li.benefits__card
                img.benefits__img(src="img/security.png" srcset="img/security@2x.png 2x, img/security.png 1x" alt="Security" loading="lazy")
