section.contact#contact
    .contact__background(data-rellax-speed="0")
        svg.contact__blur(width="0" height="0")
            defs
                filter#contact-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#001D3C" opacity="0.95" filter="url(#contact-blur-filter)")
    .contact__decoration(data-rellax-speed="4")
        img.contact__shadow(src="img/phone-blurred.png" srcset="img/phone-blurred@2x.png 2x, img/phone-blurred.png 1x" alt="Phone Blurred" loading="lazy")
        img.contact__waves(src="img/waves-corner.png" srcset="img/waves-corner@2x.png 2x, img/waves-corner.png 1x" alt="Waves" loading="lazy")
    .contact__illustration(data-rellax-speed="7")
        img.contact__img(src="img/phone-contact.png" srcset="img/phone-contact@2x.png 2x, img/phone-contact.png 1x" alt="Phone" loading="lazy")
    .contact__content(data-rellax-speed="10")
        button.arrow-prev.contact__prev(type="button") Previous
        .contact__header
            img.contact__logo(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo.png 1x" alt="Logo")
            - var sectionName = 'contact';
            include _nav.pug
        .contact__main
            h2.contact__title Contact Us
            p.contact__description Let us help you attract and maintain your choice of organizations seeking CMMC certification.
            ul.contact__list
                li.contact__item
                    span.contact__name Phone:
                    span.contact__value 617-458-0488
                li.contact__item
                    span.contact__name Email:
                    a.contact__value(href="mailto:info@dodinterface.com") info@dodinterface.com
            .contact__footer
                a.contact__action(href="https://dodinterface.agilecrm.com/calendar/rob_macdonald") Schedule A Call
