meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="Cache-Control" content="public")
meta(http-equiv="x-dns-prefetch-control" content="on")
title DOD Interface
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
meta(name="description" content="DOD Interface")
meta(name="keywords" content="")
meta(name="robots" content="index, follow")
