section.home#home
    .home__background(data-rellax-speed="0")
    .home__decoration(data-rellax-speed="4")
        img.home__waves(src="img/waves.png" srcset="img/waves@2x.png 2x, img/waves.png 1x" alt="Waves")
    .home__header(data-rellax-speed="7")
        img.home__logo(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo.png 1x" alt="Logo")
        - var sectionName = 'home';
        include _nav.pug
    .home__content(data-rellax-speed="10")
        .home__main
            img.home__shadow(src="img/frame-shadow.png" srcset="img/frame-shadow@2x.png 2x, img/frame-shadow.png 1x" alt="Shadow" loading="lazy")
            .home__frame
                img.home__img(src="img/frame.png" srcset="img/frame@2x.png 2x, img/frame.png 1x" alt="Laptop" loading="lazy")
                .home__player#player(data-url="https://player.vimeo.com/video/463152182")
                img.home__poster#poster(src="img/poster.png" srcset="img/poster@2x.png 2x, img/poster.png 1x" alt="Poster" loading="lazy" tabindex="0")
                button.home__play#play(type="button") Play
                    span.home__triangle
            h1.home__title Attract High Values Contracts with The Defense Industrial Base (DIB)
            p.home__description PlumDIBs has a marketing system that helps compliance leaders attract great clients by positioning them as the go-to experts in CMMC.
            .home__footer
                a.home__action(href="#services") Discover CMMC marketing
        button.arrow-next(type="button") Next
