nav.nav(id= 'navigation' + sectionName)
    ul.nav__list
        li.nav__item
            a.nav__link(href="#" class= sectionName === 'home' ? 'nav__link--active' : '') Home
        li.nav__item
            a.nav__link(href="#about" class= sectionName === 'about' ? 'nav__link--active' : '') About
        li.nav__item
            a.nav__link(href="#services" class= sectionName === 'services' ? 'nav__link--active' : '') Services
        li.nav__item
            a.nav__link(href="#contact" class= sectionName === 'contact' ? 'nav__link--active' : '') Contact
