section.now#now
    .now__background(data-rellax-speed="0")
        svg.now__blur(width="0" height="0")
            defs
                filter#now-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#1B4187" opacity="0.95" filter="url(#now-blur-filter)")
    .now__decoration(data-rellax-speed="4")
        img.now__shadow(src="img/laptop-blurred.png" srcset="img/laptop-blurred@2x.png 2x, img/laptop-blurred.png 1x" alt="Shadow" loading="lazy")
        img.now__points(src="img/points.png" srcset="img/points@2x.png 2x, img/points.png 1x" alt="Points" loading="lazy")
        img.now__lines(src="img/lines-wide.png" srcset="img/lines-wide@2x.png 2x, img/lines-wide.png 1x" alt="Lines" loading="lazy")
    .now__illustration(data-rellax-speed="7")
        img.now__img(src="img/laptop.png" srcset="img/laptop@2x.png 2x, img/laptop.png 1x" alt="Laptop" loading="lazy")
    .now__content(data-rellax-speed="10")
        button.arrow-prev(type="button") Previous
        .now__header
            - var sectionName = 'now';
            include _nav.pug
        .now__main
            h2.now__title Why Now?
            p.now__subtitle Katie Arrington of the DoD says, “CMMC is a culture change, not a checklist.”
            p.now__description And yet there’s a very real risk that — driven by cost or misinformation — some clients may turn to organizations that have a track record in DFARS 712, NIST 800-171, CMMI, and other controls, as you do — but lack your experience driving culture change.
            p.now__description Speak up before it’s too late.
            .now__footer
                a.now__action(href="#contact") Learn How
        button.arrow-next.now__next(type="button") Next
