section.services#services
    .services__background(data-rellax-speed="0")
        svg.services__blur(width="0" height="0")
            defs
                filter#services-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#022E64" opacity="0.95" filter="url(#services-blur-filter)")
    .services__decoration(data-rellax-speed="4")
        img.services__grid(src="img/grid-wide.png" srcset="img/grid-wide@2x.png 2x, img/grid-wide.png 1x" alt="Grid" loading="lazy")
    .services__icons(data-rellax-speed="7")
        ul.services__list.services__list--icons
            li.services__card
                a.services__link(href="#")
                    img.services__img(src="img/marketing.png" srcset="img/marketing@2x.png 2x, img/marketing.png 1x" alt="Marketing" loading="lazy")
            li.services__card
                a.services__link(href="#")
                    img.services__img(src="img/promoting.png" srcset="img/promoting@2x.png 2x, img/promoting.png 1x" alt="Promoting" loading="lazy")
            li.services__card
                a.services__link(href="#")
                    img.services__img(src="img/social.png" srcset="img/social@2x.png 2x, img/social.png 1x" alt="Social" loading="lazy")
    .services__content(data-rellax-speed="10")
        button.arrow-prev.services__prev(type="button") Previous
        .services__header
            - var sectionName = 'services';
            include _nav.pug
        .services__main
            h2.services__title C3PAO Marketing Program
            p.services__description Guided by the right mix of digital strategy with proven processes, platforms and tools, you can leverage DOD INTERFACE to support the mission of the DoD and CMMC-AB while serving your choice of clientele in the DIB.
        ul.services__list.services__list--text
            li.services__card
                p.services__caption Digital Marketing
            li.services__card
                p.services__caption Integrated PR
            li.services__card
                p.services__caption Social Learning
        .services__footer
            a.services__action(href="#contact") All Marketing Services and Solutions
        button.arrow-next.services__next(type="button") Next
