section.you#you
    .you__background(data-rellax-speed="0")
        svg.you__blur(width="0" height="0")
            defs
                filter#you-blur-filter(x="-20%" y="-20%" width="150%" height="150%")
                    feGaussianBlur(in="SourceGraphic" stdDeviation="7")
            rect(x="25%" y="0" width="50%" height="100%" fill="#163575" opacity="0.95" filter="url(#you-blur-filter)")
    .you__decoration(data-rellax-speed="4")
        img.you__grid(src="img/grid.png" srcset="img/grid@2x.png 2x, img/grid.png 1x" alt="Grid" loading="lazy")
        img.you__points(src="img/points-lines.png" srcset="img/points-lines@2x.png 2x, img/points-lines.png 1x" alt="Points" loading="lazy")
    .you__illustration(data-rellax-speed="7")
        span.you__cycle
            img.you__img#you-img(src="img/cycle.png" srcset="img/cycle@2x.png 2x, img/cycle.png 1x" alt="Cycle" loading="lazy")
    .you__content(data-rellax-speed="10")
        button.arrow-prev.you__prev(type="button") Previous
        .you__header
            - var sectionName = 'you';
            include _nav.pug
        .you__main
            h2.you__title Why You?
            p.you__subtitle SINCE 2010
            p.you__description With shifting threats from around the world, the DoD and the CMMC-AB need help getting the best suppliers certified in CMMC, so they can improve the maturity of their processes and practices, and work to assure the safety of our country.  We’ll help you show those suppliers why the DoD’s trust in you is well founded — and why they might aspire to seek CMMC certification with you.
            .you__footer
                a.you__action(href="#contact") More Info
        button.arrow-next.you__next(type="button") Next
