@import '../../node_modules/normalize.css/normalize';
@import 'partial/_variables';
@import 'partial/_mixins';
@import 'partial/_fonts';

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: $white;
    background-color: $blue;
    position: relative;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before {
    box-sizing: border-box;
}

// sprites
@import 'partial/_sprite';
// @include retina-sprites($retina-groups);

// helpers
@import 'partial/_nav';
@import 'partial/_arrow';

// main layout
@import 'partial/_parallax';
@import 'partial/_home';
@import 'partial/_benefits';
@import 'partial/_now';
@import 'partial/_you';
@import 'partial/_services';
@import 'partial/_about';
@import 'partial/_contact';
